
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

venv/
env/
ENV/
.venv/
.pip-selfcheck.json


*.sqlite3
db.sqlite3
*.pyc
*.pyo
*.pyd
*.db

.vscode/



.env
.env.*

**/migrations/*.pyc
**/migrations/__pycache__/
